.cart{
    width: 100%;
    max-width: 330px;
    background-color: white;
    height: calc(100vh - 120px);
    position: fixed;
    top: 0;
    right: 0;
    padding: 100px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translate(110%, 0);
    transition: all .4s ease-in-out;

    box-shadow: 3px -1px 11px 13px rgb(0 0 0 / 6%);

    &.active{
        transform: translate(0, 0);
    }
}

.cart-items{
    flex-grow: 1;
    overflow: auto;

    .cart-item:last-child{
        border-bottom: none;
    }
}

.cart-resume{
    font-size: 1.8rem;
    font-weight: 500;
    padding: 35px 0 15px;
    border-top: 1px solid #ddd;
}
